<div class="container mt-5">
    <button type="button" class="btn btn-primary" id="delhi">Delhi</button>
    <a href="/logout" class="btn btn-danger">Logout</a>
    <div class="mt-5">
        <pre id="result"></pre>
    </div>
</div>
