<a class="btn btn-dark" id="signout" href="/logout" style= "margin-left: 90%; margin-top: 20px;">Logout</a>

<h3 style="color: black; margin-top: 5px; text-align: center; font-family: cursive; font-size: 30px;">Welcome {{this.name}}</h3>
<br/>

<p style="font-size: 18px; font-family: cursive;">Your Tweets:</p>

<ul class= "list-group" style="margin-top: 10px; margin-bottom: 20px;">
    {{#each tweet}}
    <li class="list-group-item list-group-item-dark">{{this.name}}: {{this.tweet}}</li>
    {{/each}}
</ul>
