<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Dashboard Page</h1>

                    <a href="/logout" class="btn btn-block btn-outline-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>